/* App.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling for additional sections */
}

/* Content Container */
.content-container {
  position: relative;
  width: 100%;
}

/* Background Image */
.background-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Overlay Content */
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure overlay content covers the full height of the image */
  height: 100%;
  /* Bring content in front of the image */
  z-index: 1;
  /* Optional: Adjust scrolling if necessary */
  /* overflow: hidden; */
}

/* Hero Section */
#hero {
  width: 100%;
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Paragraph styling */
.paragraph {
  position:absolute;
  top:20vh;
  right:15vw;
  margin-top: 20px;
  color: white;
  max-width: 300px;
  font-size: 2.3rem;
  line-height: 1.5;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

/* Ensure each word behaves like a block, preventing breaks between characters */
.word {
  display: inline-block;
}

/* Letter-by-letter reveal effect for each character */
.word span {
  opacity: 0;
  display: inline-block;
  animation: fadeInLetter 0.05s forwards, glow 4s infinite alternate, streaky-move 4s linear infinite;
  animation-delay: calc(var(--char-index) * 0.02s); /* Stagger each letter */
}

/* Keyframes for fade-in effect */
@keyframes fadeInLetter {
  from {
    opacity: 0;
    transform: translateY(10px); /* Slight motion from below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.streaky-glow {
  font-family: inherit;
  color: transparent;
  background: linear-gradient(90deg, #fff, rgba(255, 200, 0, 0.679), #0ff, #fff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 4s infinite alternate, streaky-move 4s linear infinite;
}

/* Glow animation */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.2),
    0 0 40px rgba(255, 255, 255, 0.2),
    0 0 60px rgba(255, 255, 255, 0.2);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
    0 0 10px rgba(255, 255, 255, 0.4),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.8),
    0 0 60px rgba(255, 255, 255, 1);
  }
}

/* Streaky moving gradient */
@keyframes streaky-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}


/* Adjust other styles as needed */
